---
import { Image } from "astro:assets";
import DefaultImage from "@assets/profile_cartoon.png";

interface Props {
    link: string;
    title?: string;
    description?: string;
    image?: string;
}

const {
    title = "Missing Title",
    description = "No description",
    image = DefaultImage,
    link = "/",
} = Astro.props;
---

<a
    class="border w-full h-56 cursor-pointer hover:scale-[101%] duration-300 overflow-hidden relative"
    alt={title}
    href={link}
>
    <div
        class="p-8 absolute inset-0 bg-gradient-to-r from-background from-50% to-transparent to-100% pointer-events-none"
    >
        <div class="text-start">
            <h4 class="w-1/2 line-clamp-1">{title}</h2>
            <p class="italic font-light line-clamp-1 w-1/2">{description}</p>
        </div>
    </div>
    <Image alt="preview_image" src={image} class="object-cover size-full" />
</a>
